@charset "UTF=8";
/*CSS Document*/
/*Created by Katie Craven 1-28-2024*/


/*******************************begin box model here*****************************/

#divbox {
  background-color: #B06E5D;
  width: 95%;
  border: 5px solid #94421C;
  padding: 50px;
  margin: 0 auto;
}
/*******************************end box model here*****************************/

/*******************************begin form model here*****************************/

form {
	background-color: #D7BDA3;
	color: #94421c;
	padding: 10px;
	font-family: sans-serif;
	width: 80%;
	margin-left: 15px;
	margin-right: 15px;
	margin: 0 auto;
	
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  border-color: #94421c;
}
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  border-color: #94421C;

}
input[type=select], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  border-color: #94421C
	  ;

}
input[type=textarea], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  border-color: #94421C;
}

input[type=phone], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  border-color: #94421C;
}
input[type=submit] {
  width: 100%;
  background-color: #94421C
	  ;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  border-color: #94421C;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #B06E5D;
	
}

div.container {
  border-radius: 5px;
  background-color: #4B7A8B;
  padding: 20px;
  margin: 0 auto; 
}



/****************************************end form here*********************************************/

li {
	text-align: center;
	font-style:italic
}

.paragraph {
	text-align: center;
	text-wrap: wrap;
	color:#E7DED9;
	margin-left: 15px;
	margin-right: 15px;
	
}


nav a { 
  display: inline;
  margin: 5px;
  margin-top: 5px;
  text-align: center;
  font-size: 1.1em;
  margin-left: 15px;
  margin-right: 15px;
} 

body {
    
	background-color: #4B7A8B;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

main {
	color: #B06E5D;
    height: 100vh;
}

header 
    {
     
	 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
     background-repeat:no-repeat;
	 background-position: top right;
	 min-height:60px;
	 margin-top: 5px;
	 margin-bottom: 15px;
	 background-color: #86978B;
	  
}

h1 {
	margin-left: 15px;
	margin-right: 15px;
}
h2 {
  text-align: center;
}

img2 {
	width: 300%;
	text-align:center;
}

img {
      width: 100%;
      min-height: 50px;
      text-align: center;
     
      }
video {
	width: 100%;
	height: auto;}

iframe {
	width: 100%;
	height: auto;}

figure {
        text-align: center;
        min-height: 80px;
        border-radius: 50%;
      }

figcaption {
      
        font-weight: bold;
        text-align: center;
        
}
footer {
  text-align: center;
  color: #94421C;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
	margin-left: 15px;
	margin-right: 15px;
}


/****************************link stuff starts here ******************************/
/* unvisited link */
a:link {
  color: #B06E5D;
}

/* visited link */
a:visited {
  color: #D7BDA3;
}

/* mouse over link */
a:hover {
  color:rgba(245, 183, 132);
}

  /****************************link stuff ends  here ******************************/

.bullet_list {
  background-color: aquamarine;
  width: 100%;
  min-height: 50px;
  border: 5px solid green;
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
 
  
    }
.container {
      background-color: #E7DED9;
      border-radius: 10%;

    }

  div.container {
      text-align: center;
    }
    
    ul.myUL {
      display: inline-block;
      text-align: left;
    }
.bold {
  font-weight: bold;
  }

.center_text {
  text-align: center;
    }

.italics {
  font-style: italic;
    }
    
.figure {
  text-align: center;
  min-height: 80px;
  border-radius: 50%;

}

/**************************************flex box stuff starts here*********************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container {
  padding: 40px 5%;
}

.heading-text {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.heading-text span {
  font-weight: 100;
}

ul {
  list-style: none;
}

/***************************************** Responsive image gallery rules begin here************************************************/

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery > li {
  flex-basis: 350px; /*width: 350px;*/
  position: relative;
  cursor: pointer;
}

.image-gallery::after {
  content: "";
  flex-basis: 350px;
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hover */
.image-gallery li:hover .overlay {
  transform: scale(1);
}


/***********************************************flex box stuff ends here********************************/



.image_circle
    {
      border-radius: 50%;
      text-align: center;
     }
     

/****************************************list stuff starts heres*********************************************/
.dl_lists {
  background-color: blueviolet;
  width: 300px;
  padding: 30px;
  margin: 20px;
}

.ol_lists {
  background-color:coral;
  clear:both;
}

/****************************************list stuff ends heres*********************************************/



/***********************************media query for large screen starts heres*************************************/

@media screen and (min-width : 480px ){
  
  #divbox {
  	background-color: #B06E5D;
  	width: 60%;
  	border: 5px solid #94421C;
  	padding: 50px;
  	margin: 0 auto;
}
	
	form {
	background-color: #D7BDA3;
	color: #94421c;
	padding: 10px;
	font-family: sans-serif;
	width: 50%;
	  
}
	
header {
     background-image: url("../images/kpplogo2.png");
	 background-position: right top;
	 min-height: 90px;
	 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
     background-color: #86978B;
	 margin-right: 15px;
  }
	
 body {
   background-color: #86978B;
    color: white;
    font-family: georgia;
	}
	
.indented-text {
  text-indent: 60px; /* Set the indentation to 20 pixels */
}
	
.paragraph {
	text-align: center;
	text-wrap: wrap;
	color:#E7DED9;
	margin-left: 10%;
	margin-right: 10%;
	
	}
 .navcontainer {
      display: flex;
      justify-content: left;
      flex-direction: column;
      height: 10vh;
  
  }
  
	div.container {
  border-radius: 5px;
  background-color: #86978B;
  padding: 20px;
  margin: 0 auto; 
}
  .grid-container {
      display: grid;
      grid-auto-columns: 200px;
      grid-auto-rows: 200px;
      min-height: 90vh;
      grid-gap: 20px;
      width: 100%;
      justify-content: space-around;
      background-color: #2196F3;
  }
  .item1 { 
    grid-area: 1 / 1 / 2 / 2;
    width: 100%; 
  }
  .item2 {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
  }
  .item3 {
    grid-area: 1 / 3 / 2 / 4;
    width: 100%;
  }
  .item4 {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
  }
  .item5 {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
  }
  .item6 {
    grid-area: 2 / 3 / 3 / 4;
    width: 100%;
  }
  
   
  }
  .item8 {
    grid-area: 3 / 3 / 3 / 1;
    width: 100%;
  
  }
  .item9 {
    grid-area: 3 / 3 / 3 / 4;
    width: 100%;
   
  }


  
	
  h1 {
    color: snow;
  }
  figure {
      width: 100%;
      min-height: 150px;
  }
  .bullet_list {
    background-color: aquamarine;
    width: 300px;
    border: 5px solid green;
    padding: 50px;
    margin: 20px;
    border-radius: 30px;
    clear:both
}
.dl_lists {
  background-color: blueviolet;
  width: 300px;
  padding: 10px;
  margin: 20px;
  clear:both
  
}



/*example 
.box {
  background-color: bisque;
  width: 300px;
  margin: 50px;
  border-width: 5px;
  border-color:red;  
  border-style: solid;
  padding:
*/

/****************************************media screen stuff ends heres*********************************************/
